<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>商品页面</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'app/home/goods/goods.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bottomnav.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css">
	
	<!--引入jqzoom css -->
	<link rel="stylesheet" href="{% static 'css/jqzoom.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>

	<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqzoom-core.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.common.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/home/goods/goods.js' %}"></script>
    <style>

        [v-cloak] {
            display: none;
        }
    </style>

</head>
<body>
	<!-- 顶部导航 start -->
	<div class="topnav">
		<div class="topnav_bd w1210 bc">
			<div class="topnav_left">
				
			</div>
			<div class="topnav_right fr">
				<ul>
					{% if user.username %}
                        <li>你好!<a href="/user/user_home/">{{ user.username }}</a></li>
                    {% else %}
                        <li>您好，欢迎来到鼓捣买！[<a href="/user/user_login/">登录</a>] [<a href="/user/user_register/">免费注册</a>] </li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部导航 end -->
	
	<div style="clear:both;"></div>

	<!-- 头部 start -->
	<div class="header w1210 bc mt15">
		<!-- 头部上半部分 start 包括 logo、搜索、用户中心和购物车结算 -->
		<div class="logo w1210">
			<h1 class="fl"><a href="/index/"><img src="{% static 'images/welcome.png' %}" alt="京西商城"></a></h1>
			<!-- 头部搜索 start -->
			<div class="search fl">
				<div class="search_form">
					<div class="form_left fl"></div>
					<form action="/search" id="search" name="serarch" method="get" class="fl">
						<input type="text" class="txt" placeholder="请输入商品关键字" onfocus="this.placeholder=''" onblur="if(this.value==''){this.placeholder='请输入商品关键字'}" />
                        <input type="submit" class="btn" value="搜索" />
					</form>
					<div class="form_right fl"></div>
				</div>
				
				<div style="clear:both;"></div>

				<div class="hot_search">
					<strong>热门搜索:</strong>
				</div>
			</div>
			<!-- 头部搜索 end -->

			<!-- 用户中心 start-->
{#			<div class="user fl">#}
{#				<dl>#}
{#					<dt>#}
{#						<em></em>#}
{#						<a href="/user/user_home/">用户中心</a>#}
{#					</dt>#}
{##}
{#				</dl>#}
{#			</div>#}
			<!-- 用户中心 end-->

		</div>
		<!-- 头部上半部分 end -->
		
		<div style="clear:both;"></div>

		<!-- 导航条部分 start -->
		<div class="nav w1210 bc mt10">
			<!--  商品分类部分 start-->

			<!--  商品分类部分 end--> 

			<div class="navitems fl">
				<ul class="fl">
					<li class="current"><a href="{% url 'home_page:home' %}">首页</a></li>
					<li><a href="">全网比较</a></li>
					<li><a href="">省钱控</a></li>
					<li><a href="">国內折扣</a></li>
					<li><a href="">白菜价</a></li>
					<li><a href="">历史价格查询</a></li>
					<li><a href="">更多</a></li>
				</ul>
				<div class="right_corner fl"></div>
			</div>
		</div>
		<!-- 导航条部分 end -->
	</div>
	<!-- 头部 end-->

	<div style="clear:both;"></div>


	<!-- 商品页面主体 start -->
	<div class="main w1210 mt10 bc">
		<!-- 面包屑导航 start -->
		<div class="breadcrumb">
			<h2>当前位置：<a href="">首页</a> > <a href="">电脑、办公</a> > <a href="">笔记本</a> > ThinkPad X230(23063T4）12.5英寸笔记本</h2>
		</div>
		<!-- 面包屑导航 end -->
		
		<!-- 主体页面左侧内容 start -->
		<div class="goods_left fl">
			<!-- 相关分类 start -->
			<div class="related_cat leftbar mt10">
				<h2><strong>相关分类</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li><a href="">笔记本</a></li>
						<li><a href="">超极本</a></li>
						<li><a href="">平板电脑</a></li>
					</ul>
				</div>
			</div>
			<!-- 相关分类 end -->

			<!-- 相关品牌 start -->
			<div class="related_cat	leftbar mt10">
				<h2><strong>同类品牌</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li><a href="">D-Link</a></li>
						<li><a href="">戴尔</a></li>
						<li><a href="">惠普</a></li>
						<li><a href="">苹果</a></li>
						<li><a href="">华硕</a></li>
						<li><a href="">宏基</a></li>
						<li><a href="">神舟</a></li>
					</ul>
				</div>
			</div>
			<!-- 相关品牌 end -->

			<!-- 热销排行 start -->
			<div class="hotgoods leftbar mt10">
				<h2><strong>热销排行榜</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
			<!-- 热销排行 end -->


			<!-- 浏览过该商品的人还浏览了  start 注：因为和list页面newgoods样式相同，故加入了该class -->
			<div class="related_view newgoods leftbar mt10">
				<h2><strong>浏览了该商品的用户还浏览了</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li>
							<dl>
								<dt><a href=""><img src="{% static 'images/relate_view1.jpg' %}" alt="" /></a></dt>
								<dd><a href="">ThinkPad E431(62771A7) 14英寸笔记本电脑 (i5-3230 4G 1TB 2G独显 蓝牙 win8)</a></dd>
								<dd><strong>￥5199.00</strong></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="{% static 'images/relate_view2.jpg' %}" alt="" /></a></dt>
								<dd><a href="">ThinkPad X230i(2306-3V9） 12.5英寸笔记本电脑 （i3-3120M 4GB 500GB 7200转 蓝牙 摄像头 Win8）</a></dd>
								<dd><strong>￥5199.00</strong></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="{% static 'images/relate_view3.jpg' %}" alt="" /></a></dt>
								<dd><a href="">T联想（Lenovo） Yoga13 II-Pro 13.3英寸超极本 （i5-4200U 4G 128G固态硬盘 摄像头 蓝牙 Win8）晧月银</a></dd>
								<dd><strong>￥7999.00</strong></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><a href=""><img src="{% static 'images/relate_view4.jpg' %}" alt="" /></a></dt>
								<dd><a href="">联想（Lenovo） Y510p 15.6英寸笔记本电脑（i5-4200M 4G 1T 2G独显 摄像头 DVD刻录 Win8）黑色</a></dd>
								<dd><strong>￥6199.00</strong></dd>
							</dl>
						</li>

						<li class="last">
							<dl>
								<dt><a href=""><img src="{% static 'images/relate_view5.jpg' %}" alt="" /></a></dt>
								<dd><a href="">ThinkPad E530c(33662D0) 15.6英寸笔记本电脑 （i5-3210M 4G 500G NV610M 1G独显 摄像头 Win8）</a></dd>
								<dd><strong>￥4399.00</strong></dd>
							</dl>
						</li>					
					</ul>
				</div>
			</div>
			<!-- 浏览过该商品的人还浏览了  end -->

			<!-- 最近浏览 start -->
			<div class="viewd leftbar mt10">
				<h2><a href="">清空</a><strong>最近浏览过的商品</strong></h2>
				<div class="leftbar_wrap">
					<dl>
						<dt><a href=""><img src="{% static 'images/hpG4.jpg' %}" alt="" /></a></dt>
						<dd><a href="">惠普G4-1332TX 14英寸笔记...</a></dd>
					</dl>

					<dl class="last">
						<dt><a href=""><img src="{% static 'images/crazy4.jpg' %}" alt="" /></a></dt>
						<dd><a href="">直降200元！TCL正1.5匹空调</a></dd>
					</dl>
				</div>
			</div>
			<!-- 最近浏览 end -->

		</div>
		<!-- 主体页面左侧内容 end -->
		
		<!-- 商品信息内容 start -->
		<div class="goods_content fl mt10 ml10">
			<!-- 商品概要信息 start -->
			<div class="summary">
                <div id="sum_vue" v-cloak>
				<h3><strong></strong></h3>
				
				<!-- 图片预览区域 start -->
				<div class="preview fl">
					<div class="midpic">
						<a href="#" class="jqzoom" rel="gal1">   <!-- 第一幅图片的大图 class 和 rel属性不能更改 -->
							<img v-bind:src="img_url" alt="" />               <!-- 第一幅图片的中图 -->
						</a>
					</div>
	
					<!--使用说明：此处的预览图效果有三种类型的图片，大图，中图，和小图，取得图片之后，分配到模板的时候，把第一幅图片分配到 上面的midpic 中，其中大图分配到 a 标签的href属性，中图分配到 img 的src上。 下面的smallpic 则表示小图区域，格式固定，在 a 标签的 rel属性中，分别指定了中图（smallimage）和大图（largeimage），img标签则显示小图，按此格式循环生成即可，但在第一个li上，要加上cur类，同时在第一个li 的a标签中，添加类 zoomThumbActive  -->

				</div>
				<!-- 图片预览区域 end -->

				<!-- 商品基本信息区域 start -->
				<div class="goodsinfo fl ml10">
					<ul>
						<li><span>商品编号： </span><span>${ id }</span></li>
						<li class="shop_price"><span>参考价格：</span> <strong>￥</strong><strong>${ price }</strong></li>
						<li><span>商品评分：</span> <strong class="star"></strong><span style="float:none"></span><a href=""></a></li> <!-- 此处的星级切换css即可 默认为5星 star4 表示4星 star3 表示3星 star2表示2星 star1表示1星 -->
                        <li><span>销量：</span><span>${ s_number }</span></li>
					</ul>

				</div>
                </div>
				<!-- 商品基本信息区域 end -->
                <form action="" method="post" class="choose" id="focus">
                        {% csrf_token %}
                        <input type="submit" id="focussubmit" value="加入收藏"/>
                </form>
            </div>
			<!-- 商品概要信息 end -->
			
			<div style="clear:both;"></div>

			<!-- 商品详情 start -->
			<div class="detail">
				<div class="detail_hd">
					<ul>
						<li class="first on"><span>商品介绍</span></li>
						<li class=""><span>商品评价</span></li>
					</ul>
				</div>
				<div class="detail_bd">
					<!-- 商品信息 start -->
					<div class="introduce detail_div mt10">
                        <div class="xxx">
						<div class="attr mt15">
                            ${description}
						</div>
                        <!-- 历史价格 start -->
                        <div class="attr mt15">
                            <span>商品源</span><a v-bind:href="source_url">${name}</a>
                        </div>
                        </div>
						<div class="desc mt10">
							<!-- 此处的内容 一般是通过在线编辑器添加保存到数据库，然后直接从数据库中读出 -->
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="mainCharts" style="width: 600px;height:400px;"></div>

						</div>
                        <!-- 历史价格 end -->
					</div>
					<!-- 商品信息 end -->
					
					<!-- 商品评论 start -->
					<div class="comment detail_div none">
                    <div id="comment-vue">
						<div class="comment_summary">

							<div class="rate fl">
								<strong>
                                    <em v-if="comments_data">${good_comments_percent}%</em>
                                    <em v-else></em>
                                </strong> <br />
								<span>好评度</span>
							</div>
							<div class="percent fl">
								<dl>
									<dt>好评（${good_comments_percent}%）</dt>
									<dd><div v-bind:style="{ width: good_comments_percent+'px' }"></div></dd>
								</dl>
								<dl>
									<dt>中评（${mid_comments_percent}%）</dt>
									<dd><div v-bind:style="{ width: mid_comments_percent+'px' }"></div></dd>
								</dl>
								<dl>
									<dt>差评（${bad_comments_percent}%）</dt>
									<dd><div v-bind:style="{ width: bad_comments_percent+'px' }"></div></dd>
								</dl>
							</div>
							<div class="buyer fl">
								<dl>
									<dt>买家印象：</dt>
									<dd><span>屏幕大</span><em>(1953)</em></dd>
									<dd><span>外观漂亮</span><em>(786)</em></dd>
									<dd><span>系统流畅</span><em>(1091)</em></dd>
									<dd><span>功能齐全</span><em>(1109)</em></dd>
									<dd><span>反应快</span><em>(659)</em></dd>
									<dd><span>分辨率高</span><em>(824)</em></dd>
								</dl>
							</div>
						</div>

						<div class="comment_items mt10" v-for="i in goodsList">
							<div class="user_pic">
								<dl>
									<dt><a href=""><img src="images/user1.gif" alt="" /></a></dt>
									<dd><a href="">${i.c_username}</a></dd>
								</dl>
							</div>
							<div class="item">
								<div class="title">
									<span>${i.create_time}</span>
									<strong v-bind:class="i.stars"></strong> <!-- star5表示5星级 start4表示4星级，以此类推 -->
								</div>
								<div class="comment_content">
									${i.content}
								</div>
								<div class="btns">
									<a href="" class="useful">有用(0)</a>
								</div>
							</div>
							<div class="cornor"></div>
						</div>

						<!-- 分页信息 start -->
						<div class="commentsPage mt20">
                            <div class="index-page" id="pageBox" v-cloak>
                            总<span class="allNum" v-html="pageTotal"></span>页 至
				            <input type="text" class="index-target" onkeyup="value=value.replace(/[^\d]/g,'')" /> 页
				            <a href="javascript:;" class="target page-a" class="goPage" v-on:click="inputJump()">跳转</a>
                            <ul class="page-main" id="pageMain">
                                <li class="block">
                                    <a href="javascript:;" class="prev page-a" v-bind:class="{'unable-page' : page==1}" v-on:click="goPre()"><i class="prev-i"></i></a>
                                </li>
                                <li class="block ellipsis" v-show="showLeftEllipsis">
                                    <a href="javascript:;" class="ellipsis page-a">...</a>
                                </li>
                                <li v-if="pageTotal>0" v-for="n in showPageArr">
                                    <a href="javascript:;" class="num-item" v-html="n" v-bind:class="{'active' : page==n}"></a>
                                </li>
                                <li class="block ellipsis" v-show="showRightEllipsis">
                                    <a href="javascript:;" class="ellipsis page-a">...</a>
                                </li>
                                <li class="block last">
                                    <a href="javascript:;" class="next page-a" v-bind:class="{'unable-page' : page==pageTotal}" v-on:click="goNext()"><i class="next-i"></i></a>
                                </li>
                            </ul>
                            </div>
						</div>

						<!-- 分页信息 end -->
                    </div>
						<!--  评论表单 start-->
						<div class="comment_form mt20">
							<form action="" id="comments">
                                {% csrf_token %}
								<ul>
									<li>
										<label for=""> 评分：</label>
										<input type="radio" name="grade" value=5 /> <strong class="star5"></strong>
										<input type="radio" name="grade" value=4 /> <strong class="star4"></strong>
										<input type="radio" name="grade" value=3 /> <strong class="star3"></strong>
										<input type="radio" name="grade" value=2 /> <strong class="star2"></strong>
										<input type="radio" name="grade" value=1 /> <strong class="star1"></strong>
									</li>

									<li>
										<label for="">评价内容：</label>
										<textarea name="" id="comments_text" cols="" rows=""></textarea>
									</li>
									<li>
										<label for="">&nbsp;</label>
										<input type="submit" value="提交评论"  class="comment_btn"/>										
									</li>
								</ul>
							</form>
						</div>
						<!--  评论表单 end-->
						
					</div>


				</div>
			</div>
			<!-- 商品详情 end -->

			
		</div>
		<!-- 商品信息内容 end -->
		

	</div>
	<!-- 商品页面主体 end -->
	

	<div style="clear:both;"></div>

	<!-- 底部导航 start -->
	<div class="bottomnav w1210 bc mt10">
		<div class="bnav1">
			<h3><b></b> <em>购物指南</em></h3>
			<ul>
				<li><a href="">购物流程</a></li>
				<li><a href="">会员介绍</a></li>
				<li><a href="">团购/机票/充值/点卡</a></li>
				<li><a href="">常见问题</a></li>
				<li><a href="">大家电</a></li>
				<li><a href="">联系客服</a></li>
			</ul>
		</div>
		
		<div class="bnav2">
			<h3><b></b> <em>配送方式</em></h3>
			<ul>
				<li><a href="">上门自提</a></li>
				<li><a href="">快速运输</a></li>
				<li><a href="">特快专递（EMS）</a></li>
				<li><a href="">如何送礼</a></li>
				<li><a href="">海外购物</a></li>
			</ul>
		</div>

		
		<div class="bnav3">
			<h3><b></b> <em>支付方式</em></h3>
			<ul>
				<li><a href="">货到付款</a></li>
				<li><a href="">在线支付</a></li>
				<li><a href="">分期付款</a></li>
				<li><a href="">邮局汇款</a></li>
				<li><a href="">公司转账</a></li>
			</ul>
		</div>

		<div class="bnav4">
			<h3><b></b> <em>售后服务</em></h3>
			<ul>
				<li><a href="">退换货政策</a></li>
				<li><a href="">退换货流程</a></li>
				<li><a href="">价格保护</a></li>
				<li><a href="">退款说明</a></li>
				<li><a href="">返修/退换货</a></li>
				<li><a href="">退款申请</a></li>
			</ul>
		</div>

		<div class="bnav5">
			<h3><b></b> <em>特色服务</em></h3>
			<ul>
				<li><a href="">夺宝岛</a></li>
				<li><a href="">DIY装机</a></li>
				<li><a href="">延保服务</a></li>
				<li><a href="">家电下乡</a></li>
				<li><a href="">京东礼品卡</a></li>
				<li><a href="">能效补贴</a></li>
			</ul>
		</div>
	</div>
	<!-- 底部导航 end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
	<div class="footer w1210 bc mt10">
		<p class="links">
			<a href="">关于我们</a> |
			<a href="">联系我们</a> |
			<a href="">人才招聘</a> |
			<a href="">商家入驻</a> |
			<a href="">千寻网</a> |
			<a href="">奢侈品网</a> |
			<a href="">广告服务</a> |
			<a href="">移动终端</a> |
			<a href="">友情链接</a> |
			<a href="">销售联盟</a> |
			<a href="">京西论坛</a>
		</p>
		<p class="copyright">
			 © 2005-2013 京东网上商城 版权所有，并保留所有权利。  ICP备案证书号:京ICP证070359号 
		</p>
		<p class="auth">
			<a href=""><img src="images/xin.png" alt="" /></a>
			<a href=""><img src="images/kexin.jpg" alt="" /></a>
			<a href=""><img src="images/police.jpg" alt="" /></a>
			<a href=""><img src="images/beian.gif" alt="" /></a>
		</p>
	</div>
	<!-- 底部版权 end -->


	<script type="text/javascript">
		document.execCommand("BackgroundImageCache", false, true);
	</script>
</body>
</html>