<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>鼓捣买</title>
	<link rel="stylesheet" href="/static/app/home/home_page/base.css" type="text/css">
	<link rel="stylesheet" href="/static/app/home/home_page/global.css" type="text/css">
	<link rel="stylesheet" href="/static/app/home/home_page/header.css" type="text/css">
	<link rel="stylesheet" href="/static/app/home/home_page/index.css" type="text/css">
	<link rel="stylesheet" href="/static/app/home/home_page/bottomnav.css" type="text/css">
	<link rel="stylesheet" href="/static/app/home/home_page/footer.css" type="text/css">

	<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/static/js/header.js"></script>
	<script type="text/javascript" src="/static/app/home/home_page/index.js"></script>
</head>
<body>
	<!-- 顶部导航 start -->
	<div class="topnav">
		<div class="topnav_bd w1210 bc">
			<div class="topnav_left">

			</div>
			<div class="topnav_right fr">
                <ul>
                    {% if user.username %}
                        <li>你好!<a href="/user/user_home/">{{ user.username }}</a></li>
                    {% else %}
                        <li>您好，欢迎来到鼓捣买！[<a href="/user/user_login/">登录</a>] [<a href="/user/user_register/">免费注册</a>] </li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部导航 end -->

	<sdiv style="clear:both;"></sdiv>

	<!-- 头部 start -->
	<div class="header w1210 bc mt15">
		<!-- 头部上半部分 start 包括 logo、搜索、用户中心和购物车结算 -->
		<div class="logo w1210">
			<h1 class="fl"><a href="/index/"><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/welcome.png" alt="京西商城"></a></h1>
			<!-- 头部搜索 start -->
			<div class="search fl">
				<div class="search_form">
					<div class="form_left fl"></div>
					<form action="/search" name="serarch" method="get" class="fl">
                        {% if key and key != 'None' %}
                            <input name="key" type="text" class="txt" value="{{ key }}" style="color: #555">
                        {% else %}
                            <input name="key" type="text" class="txt" placeholder="请输入商品关键字" onfocus="this.placeholder=''" onblur="if(this.value==''){this.placeholder='请输入商品关键字'}">
                        {% endif %}
                        <input type="submit" class="btn" value="搜索" />
					</form>
					<div class="form_right fl"></div>
				</div>

				<div style="clear:both;"></div>

				<div class="hot_search">
					<strong>热门搜索:</strong>
				</div>
			</div>
			<!-- 头部搜索 end -->

			<!-- 用户中心 start-->
{#			<div class="user fl">#}
{#				<dl>#}
{#					<dt>#}
{#						<em></em>#}
{#						<a href="">用户中心</a>#}
{#						<b></b>#}
{#					</dt>#}
{#					<dd>#}
{#						<div class="prompt">#}
{#							您好，请<a href="">登录</a>#}
{#						</div>#}
{#						<div class="uclist mt10">#}
{#							<ul class="list1 fl">#}
{#								<li><a href="">用户信息></a></li>#}
{#								<li><a href="">我的订单></a></li>#}
{#								<li><a href="">收货地址></a></li>#}
{#								<li><a href="">我的收藏></a></li>#}
{#							</ul>#}
{##}
{#							<ul class="fl">#}
{#								<li><a href="">我的留言></a></li>#}
{#								<li><a href="">我的红包></a></li>#}
{#								<li><a href="">我的评论></a></li>#}
{#								<li><a href="">资金管理></a></li>#}
{#							</ul>#}
{##}
{#						</div>#}
{#						<div style="clear:both;"></div>#}
{#						<div class="viewlist mt10">#}
{#							<h3>最近浏览的商品：</h3>#}
{#							<ul>#}
{#								<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/view_list1.jpg" alt="" /></a></li>#}
{#								<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/view_list2.jpg" alt="" /></a></li>#}
{#								<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/view_list3.jpg" alt="" /></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</dd>#}
{#				</dl>#}
{#			</div>#}
			<!-- 用户中心 end-->

			<!-- 购物车 start -->
{#			<div class="cart fl">#}
{#				<dl>#}
{#					<dt>#}
{#						<a href="">去购物车结算</a>#}
{#						<b></b>#}
{#					</dt>#}
{#					<dd>#}
{#						<div class="prompt">#}
{#							购物车中还没有商品，赶紧选购吧！#}
{#						</div>#}
{#					</dd>#}
{#				</dl>#}
{#			</div>#}
			<!-- 购物车 end -->
		</div>
		<!-- 头部上半部分 end -->

		<div style="clear:both;"></div>

		<!-- 导航条部分 start -->
		<div class="nav w1210 bc mt10">
			<!--  商品分类部分 start-->
			<div class="category fl"> <!-- 非首页，需要添加cat1类 -->
				<div class="cat_hd">  <!-- 注意，首页在此div上只需要添加cat_hd类，非首页，默认收缩分类时添加上off类，鼠标滑过时展开菜单则将off类换成on类 -->
					<h2>全部商品分类</h2>
					<em></em>
				</div>

				<div class="cat_bd">


                    {% for val in classification %}
					<div class="cat">
						<h3><a href="">{{ val.name }}</a><b></b></h3>
						<div class="cat_detail">

							<dl>
                                <dd>
                                    {% for value in subclassification%}
                                    {% ifequal value.classification_id val.id%}
                                    <a href="{% url 'home_page:list' value.id%}">{{ value.name }}</a>
                                    {% endifequal %}
                                    {% endfor %}
                                </dd>
                            </dl>
						</div>
					</div>
                    {% endfor %}




				</div>

			</div>
			<!--  商品分类部分 end-->

			<div class="navitems fl">
				<ul class="fl">
					<li class="current"><a href="{% url 'home_page:home' %}">首页</a></li>
					<li><a href="">全网比较</a></li>
					<li><a href="">省钱控</a></li>
					<li><a href="">国內折扣</a></li>
					<li><a href="">白菜价</a></li>
					<li><a href="">历史价格查询</a></li>
					<li><a href="">更多</a></li>
				</ul>
				<div class="right_corner fl"></div>
			</div>
		</div>
		<!-- 导航条部分 end -->
	</div>
	<!-- 头部 end-->

	<div style="clear:both;"></div>

	<!-- 综合区域 start 包括幻灯展示，商城快报 -->
	<div class="colligate w1210 bc mt10">
		<!-- 幻灯区域 start -->
		<div class="slide fl">
			<div class="area">
				<div class="slide_items">
					<ul>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide1.jpg" alt="" /></a></li>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide2.jpg" alt="" /></a></li>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide3.jpg" alt="" /></a></li>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide4.jpg" alt="" /></a></li>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide5.jpg" alt="" /></a></li>
						<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/index_slide6.jpg" alt="" /></a></li>
					</ul>
				</div>
				<div class="slide_controls">
					<ul>
						<li class="on">1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>6</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 幻灯区域 end-->

		<!-- 快报区域 start-->
		<div class="coll_right fl ml10">
			<div class="ad"><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/ad.jpg" alt="" /></a></div>

			<div class="news mt10">
				<h2><a href="">更多快报&nbsp;></a><strong>网站快报</strong></h2>
				<ul>
					<li class="odd"><a href="">电脑数码双11爆品抢不停</a></li>
					<li><a href="">买茶叶送武夷山旅游大奖</a></li>
					<li class="odd"><a href="">爆款手机最高直降1000</a></li>
					<li><a href="">新鲜褚橙全面包邮开售！</a></li>
					<li class="odd"><a href="">家具家装全场低至3折</a></li>
					<li><a href="">买韩束，志玲邀您看电影</a></li>
					<li class="odd"><a href="">美的先行惠双11快抢悦</a></li>
					<li><a href="">享生活 疯狂周期购！</a></li>
				</ul>

			</div>

			<div class="service mt10">
				<h2>
					<span class="title1 on"><a href="">话费</a></span>
					<span><a href="">旅行</a></span>
					<span><a href="">彩票</a></span>
					<span class="title4"><a href="">游戏</a></span>
				</h2>
				<div class="service_wrap">
					<!-- 话费 start -->
					<div class="fare">
						<form action="">
							<ul>
								<li>
									<label for="">手机号：</label>
									<input type="text" name="phone" value="请输入手机号" class="phone" />
									<p class="msg">支持移动、联通、电信</p>
								</li>
								<li>
									<label for="">面值：</label>
									<select name="" id="">
										<option value="">10元</option>
										<option value="">20元</option>
										<option value="">30元</option>
										<option value="">50元</option>
										<option value="" selected>100元</option>
										<option value="">200元</option>
										<option value="">300元</option>
										<option value="">400元</option>
										<option value="">500元</option>
									</select>
									<strong>98.60-99.60</strong>
								</li>
								<li>
									<label for="">&nbsp;</label>
									<input type="submit" value="点击充值" class="fare_btn" /> <span><a href="">北京青春怒放独家套票</a></span>
								</li>
							</ul>
						</form>
					</div>
					<!-- 话费 start -->

					<!-- 旅行 start -->
					<div class="travel none">
						<ul>
							<li>
								<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/holiday.jpg" alt="" /></a>
								<a href="" class="button">度假查询</a>
							</li>
							<li>
								<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/scenic.jpg" alt="" /></a>
								<a href="" class="button">景点查询</a>
							</li>
						</ul>
					</div>
					<!-- 旅行 end -->

					<!-- 彩票 start -->
					<div class="lottery none">
						<p><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/lottery.jpg" alt="" /></p>
					</div>
					<!-- 彩票 end -->

					<!-- 游戏 start -->
					<div class="game none">
						<ul>
							<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/sanguo.jpg" alt="" /></a></li>
							<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/taohua.jpg" alt="" /></a></li>
							<li><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/wulin.jpg" alt="" /></a></li>
						</ul>
					</div>
					<!-- 游戏 end -->
				</div>
			</div>

		</div>
		<!-- 快报区域 end-->
	</div>
	<!-- -综合区域 end -->

	<div style="clear:both;"></div>

	<!-- 导购区域 start -->
	<div class="guide w1210 bc mt15">
		<!-- 导购左边区域 start -->
		<div class="guide_content fl">
			<h2>
				<span class="on">今日推荐</span>
{#				<span>新品先行</span>#}
{#                <span>今日推荐</span>#}
{#				<span>天猫</span>#}
{#				<span class="last">京东</span>#}
			</h2>

			<div class="guide_wrap">
				<!-- 热门比价 start-->
				<div class="crazy">
					<ul>
                        {% for good in goods %}
						<li>
							<dl>

								<dt><a href="/detail/{{ good.id }}/"><img src="{{ good.image }}" alt="" /></a></dt>
								<dd><a href="/detail/{{ good.id }}/">{{ good.name }}</a></dd>
								<dd><span>售价：</span><strong> ￥{{ good.c_price }}</strong></dd>

							</dl>
						</li>
                        {% endfor %}
					</ul>
				</div>
				<!-- 热门比价 end-->

{#				<!-- 今日推荐 start -->#}
{#				<div class="hot none">#}
{#					<ul>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/hot1.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">索尼双核五英寸四核手机！</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥1386.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/hot2.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">华为通话平板仅需969元！</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥969.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/hot3.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">卡姿兰明星单品7件彩妆套装</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥169.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#				<!-- 今日推荐 end -->#}
{##}
{#				<!-- 推荐商品 atart -->#}
{#				<div class="recommend none">#}
{#					<ul>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/recommend1.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">黄飞红麻辣花生整箱特惠装</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥139.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/recommend2.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">戴尔IN1940MW 19英寸LE</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥679.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/recommend3.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">罗辑思维音频车载CD</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥24.80</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#				<!-- 推荐商品 end -->#}
{##}
{#				<!-- 新品上架 start-->#}
{#				<div class="new none">#}
{#					<ul>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/new1.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">E路航T70超薄GPS 7寸大屏！</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥369.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/new2.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">乐和居 爆品 特价疯狂抢</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥2799.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/new3.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">北欧 套装 抄底再续最后几小时</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥999.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#				<!-- 新品上架 end-->#}
{##}
{#				<!-- 猜您喜欢 start -->#}
{#				<div class="guess none">#}
{#					<ul>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/guess1.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">Thinkpad USB光电鼠标</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥39.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/guess2.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">宜客莱（ECOLA）电脑散热器</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥89.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#						<li>#}
{#							<dl>#}
{#								<dt><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/guess3.jpg" alt="" /></a></dt>#}
{#								<dd><a href="">巴黎欧莱雅男士洁面膏 100ml</a></dd>#}
{#								<dd><span>售价：</span><strong> ￥30.00</strong></dd>#}
{#							</dl>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#				<!-- 猜您喜欢 end -->#}

			</div>

		</div>
		<!-- 导购左边区域 end -->

		<!-- 侧栏 网站首发 start-->
		<div class="sidebar fl ml10">
			<h2><strong>网站首发</strong></h2>
			<div class="sidebar_wrap">
				<dl class="first">
					<dt class="fl"><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/viewsonic.jpg" alt="" /></a></dt>
					<dd><strong><a href="">ViewSonic优派N710 </a></strong> <em>首发</em></dd>
					<dd>苹果iphone 5免费送！攀高作为全球智能语音血压计领导品牌，新推出的黑金刚高端智能电子血压计，改变传统测量方式让血压测量迈入一体化时代。</dd>
				</dl>

				<dl>
					<dt class="fr"><a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/samsung.jpg" alt="" /></a></dt>
					<dd><strong><a href="">Samsung三星Galaxy</a></strong> <em>首发</em></dd>
					<dd>电视百科全书，360°无死角操控，感受智能新体验！双核CPU+双核GPU+MEMC运动防抖，58寸大屏打造全新视听盛宴！</dd>
				</dl>
			</div>


		</div>
		<!-- 侧栏 网站首发 end -->

	</div>
	<!-- 导购区域 end -->

	<div style="clear:both;"></div>




	<div style="clear:both;"></div>

	<!-- 底部导航 start -->
	<div class="bottomnav w1210 bc mt10">
		<div class="bnav1">
			<h3><b></b> <em>购物指南</em></h3>
			<ul>
				<li><a href="">购物流程</a></li>
				<li><a href="">会员介绍</a></li>
				<li><a href="">团购/机票/充值/点卡</a></li>
				<li><a href="">常见问题</a></li>
				<li><a href="">大家电</a></li>
				<li><a href="">联系客服</a></li>
			</ul>
		</div>

		<div class="bnav2">
			<h3><b></b> <em>配送方式</em></h3>
			<ul>
				<li><a href="">上门自提</a></li>
				<li><a href="">快速运输</a></li>
				<li><a href="">特快专递（EMS）</a></li>
				<li><a href="">如何送礼</a></li>
				<li><a href="">海外购物</a></li>
			</ul>
		</div>


		<div class="bnav3">
			<h3><b></b> <em>支付方式</em></h3>
			<ul>
				<li><a href="">货到付款</a></li>
				<li><a href="">在线支付</a></li>
				<li><a href="">分期付款</a></li>
				<li><a href="">邮局汇款</a></li>
				<li><a href="">公司转账</a></li>
			</ul>
		</div>

		<div class="bnav4">
			<h3><b></b> <em>售后服务</em></h3>
			<ul>
				<li><a href="">退换货政策</a></li>
				<li><a href="">退换货流程</a></li>
				<li><a href="">价格保护</a></li>
				<li><a href="">退款说明</a></li>
				<li><a href="">返修/退换货</a></li>
				<li><a href="">退款申请</a></li>
			</ul>
		</div>

		<div class="bnav5">
			<h3><b></b> <em>特色服务</em></h3>
			<ul>
				<li><a href="">夺宝岛</a></li>
				<li><a href="">DIY装机</a></li>
				<li><a href="">延保服务</a></li>
				<li><a href="">家电下乡</a></li>
				<li><a href="">京东礼品卡</a></li>
				<li><a href="">能效补贴</a></li>
			</ul>
		</div>
	</div>
	<!-- 底部导航 end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
	<div class="footer w1210 bc mt10">
		<p class="links">
			<a href="">关于我们</a> |
			<a href="">联系我们</a> |
			<a href="">人才招聘</a> |
			<a href="">商家入驻</a> |
			<a href="">千寻网</a> |
			<a href="">奢侈品网</a> |
			<a href="">广告服务</a> |
			<a href="">移动终端</a> |
			<a href="">友情链接</a> |
			<a href="">销售联盟</a> |
			<a href="">京西论坛</a>
		</p>
		<p class="copyright">
			 © 2005-2013 京东网上商城 版权所有，并保留所有权利。  ICP备案证书号:京ICP证070359号
		</p>
		<p class="auth">
			<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/xin.png" alt="" /></a>
			<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/kexin.jpg" alt="" /></a>
			<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/police.jpg" alt="" /></a>
			<a href=""><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/beian.gif" alt="" /></a>
		</p>
	</div>
	<!-- 底部版权 end -->

</body>
</html>

