<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/app/admin/admin_page/css/general.css" rel="stylesheet" type="text/css" />
<link href="/static/app/admin/admin_page/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="/goods_manage/categoryList/">商品分类</a></span>
    <span class="action-span1"><a href="/admin_page/index/">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加分类 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    {% if not OK %}
    <form action="/goods_manage/categoryAdd/" method="post" name="theForm" enctype="multipart/form-data">
        {% csrf_token %}
        <table width="100%" id="general-table">
            <tr>
                <td class="label" >分类名称:</td>
                <td>
                    <input type='text' name='cat_name' maxlength="20" value='' size='27' /> <font color="red">*</font>
                    {% if msg %}
                     <span class="require-field">{{ msg }}</span>
                    {% endif %}
                    <br>
                    <span class="notice-span"id="superuser">批量添加以","分隔,eg: 手机,冰箱,电视</span>
                </td>
            </tr>

        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
    {% else %}
    <p style="text-indent: 2em; margin-top: 30px;">
系统将在 <span id="time">5</span> 秒钟后自动跳转至分类列表，如果未能跳转，<a href="/goods_manage/categoryList/" title="点击访问">请点击</a>。</p>
    {% endif %}
</div>

<div id="footer">
版权所有 &copy; 2018-07-06 成都老司机科技有限公司，并保留所有权利。
</div>
<script type="text/javascript">
    var msg = document.getElementById('time').innerText
    if(msg){
    delayURL();
    function delayURL() {
        var delay = document.getElementById("time").innerHTML;
        var t = setTimeout("delayURL()", 1000);
        if (delay > 0) {
            delay--;
            document.getElementById("time").innerHTML = delay;
        } else {
     clearTimeout(t);
            window.location.href = "/goods_manage/categoryList/";
        }
    }
    }
</script>

</body>
</html>