<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>后台管理</title>
<link href="/static/app/admin/admin_page/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/app/admin/admin_page/js/login.js"></script>
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="http://pbu0s2z3p.bkt.clouddn.com/static/images/login_logo.png" /></a></div>
          <div class="login_name">
               <p>后台管理系统</p>
          </div>
          <form method="post" action="/admin_page/login/">
              {% csrf_token %}
                <input id="username" name="username" type="text"  placeholder="用户名" onfocus="this.placeholder=''" onblur="if(this.value==''){this.placeholder='用户名'}" required>
                <input name="password" type="password" id="password" placeholder="密码" onfocus="this.placeholder=''" onblur="if(this.value==''){this.placeholder='密码'}" required/>
                <input name="verify_code_text" type="text" id="verify_code_text" placeholder="验证码" onfocus="this.placeholder=''" onblur="if(this.value==''){this.placeholder='验证码'}" required/>

          <img id="verify_code" name="verify_code" src="/verify_code/" onclick="get_verify_code()"/>
                {% if msg %}
                    <li id="J_Message" class="login-msg error">
                        <p class="error">{{ msg }}</p>
                    </li>
                {% endif %}
              <input id="submit" value="登录" style="width:100%;" type="submit" >
          </form>
      </div>
</div>
<div style="text-align:center;">
</div>
</body>

</html>
